@media screen and (min-width : 1440px) {
    .header {
        display: none;
    }

    .main__tablet--text {
        display: none;
    }
    .main{
        width: 1120px;
        margin-top: -607px;
        margin-left: 320px;
    }
    .main__side-menu {
        width: 320px;
        height: 100%;
    }
    .side-menu__logo {
        background: url(./img/logo.svg);
        width: 96.548px;
        height: 50.815px;
        position: relative;
        left: 22px;
        top: 30px;
    }

    .main__menu {
        display: flex;
        overflow-x: hidden;
        flex-wrap: wrap;
    }

    .main__menu--button {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .main__header--text {
        margin-left: 18px;
    }

    .main__picture {
        position: relative;
        width: 500px;
        height: 320px;
        background: url(./img/lap.png);
        left: 490px;
        bottom: 240px;
        margin-left: 0px;
    }

    .main__laptop--text {
        display: block;
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .main__mobile--expand--text {
        width: auto;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }

    .main__expand--button {
        position: relative;
        background: url(./img/icon/expand.svg);
        width: 24px;
        height: 24px;
        margin-left: 15px;
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        border: 0px;
        bottom: 20px;
    }
    .side-menu__search{
        position: relative;
        background: url(./img/icon/search.svg);
        width: 40px;
        height: 40px;
        left: 230px;
        top: -15px;
    }
    .side-menu__text--container{
        position: relative;
        flex-direction: column;
        display: flex;
        gap: 28.31px;
        left: 24px;
        top: 37.19px;
    }
    .side-menu__text{
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;

    }
    .side-menu__icon--container{
        display: flex;
        position: relative;
        gap: 16px;
        top: 261px;
        left: 24px;
    }
    .side-menu__icon-1{
        width: 40px;
        height: 41.35px;
        background: url(./img/icon/call.svg);
    }
    .side-menu__icon-2{
        width: 40px;
        height: 41.35px;
        background: url(./img/icon/message.svg);
    }
    .side-menu__icon-3{
        width: 40px;
        height: 41.35px;
        background: url(./img/icon/profile.svg);
    }
    .side-menu__mail{
        position: relative;
        width: 106px;
        height: 24.809px;
        flex-shrink: 0;
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: -0.2px;
        left: 24px;
        top: 280px;
    }
    .side-menu__number{
        position: relative;
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
        left: 24px;
        top: 290px;
    }
    .side-menu__language--container{
        display: flex;
        gap: 7px;
        position: relative;
        left: 24px;
        top: 330px;
    }
    .side-menu__language{
        color: #1B1C21;
        font-family: TT Lakes;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: -0.2px;
    }
    .side-menu__language:hover{
        color: #7E7E82;
    }
}